/* Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

/* Components */
@import url("components/navbar.css");
@import url("components/avatar.css");
@import url("components/notification.css");
@import url("components/tabs.css");

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  background-color: #F7F7F7;
}
.text-center {
  text-align: center;
}
.container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
 
  background-color: white;
}
a{
  text-decoration: none;
  color: rgb(160, 156, 156);
  font-size: 1.3em;
  padding: 10px;
}
a:hover{
  color: rgb(102, 100, 100);
}

